# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data and output (avoid pushing large files to GitHub)
data/
output/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
